<!DOCTYPE html>
<div class="container">
  <div class="col-xs-12">
    <a class="btn btn-success btn-lg btn-block" ui-sref="app.application">
      <i class="fa fa-plus fa-lg fa-fw" aria-hidden="true"></i>
      Open a New Restaurant</a>
    <a class="btn btn-success btn-lg btn-block" ui-sref="app.settings">
      <i class="fa fa-cog fa-lg fa-fw" aria-hidden="true"></i>
      Settings</a>
    <a class="btn btn-danger btn-lg btn-block" href="/logout" ng-click="logout()">
      <i class="fa fa-sign-out fa-lg fa-fw" aria-hidden="true"></i>
      Log Out</a>
  </div>
</div>
