<!DOCTYPE html>
<div class="container">

  <!-- restaurant profile badge -->
  <div class="row" ng-repeat="restaurant in restaurants">
    <div class="panel panel-default" ng-init="loadMap(restaurant.lat,restaurant.lng)" >
      <div class="panel-body">
        <div class="col-md-6">
          <div class="media">
            <div class="media-left media-middle">
            <img class="img-circle" height="64" width="64" ng-src="{{restaurant.logo}}" alt="{{restaurant.restaurantName}}">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{restaurant.restaurantName}}</h4>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{restaurant.address | capitalize}}
              <br>
              {{restaurant.zipcode}},
              {{restaurant.city | capitalize}}
              <br>
              <i class="fa fa-mobile" aria-hidden="true"></i>
              {{restaurant.phoneNumber}}
              <br>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              {{restaurant.email}}
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <h4>
          <span class="label label-success">{{state.openOrClosed}}</span>
          <!-- paid delivery -->
          <span ng-if="restaurant.deliveryFee" class="label label-primary">Delivery From &euro;{{restaurant.deliveryFee}}  upto {{restaurant.radius}} Km</span>
          <!-- free delivery -->
          <span ng-if="restaurant.deliveryFee === 0" class="label label-primary">Free Delivery</span>
          <!-- pick-up only -->
          <span ng-if="!restaurant.deliveryFee" class="label label-primary">Pick-up Only</span>
          <span class="label label-default" ng-if="restaurant.workFrom[today]">{{restaurant.workFrom[today] | date:'shortTime'}}
            -
            {{restaurant.workTo[today] | date:'shortTime'}}</span>


            <button id="direction"  type="button" class="btn btn-success  btn-xs"  data-toggle="modal" data-target="#travelWay">Direction</button>
            <div id="travelWay" class="modal fade " role="dialog">
              <div class="modal-dialog">

                <div class="modal-content ">
                  <div class="navbar-inverse modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title ">Choose your travel medium</h4>

                  </div>

                  <div class="modal-body">
                    <div class="radio">
                      <label><input type="radio" ng-model="travelMeduim" ng-click=changeMedium('DRIVING') value="DRIVING">Driving</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" ng-model="travelMeduim" ng-click=changeMedium('BICYCLING') value="CYCLING">Cycling</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" ng-model="travelMeduim"  ng-click=changeMedium('WALKING') value="WALKING">Walking</label>
                    </div>
                    </div>


                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="onChangeHandler()">Ok</button>
                  </div>
                </div>
                </div>
              </div>




            <p ng-if="permission" class="label-label default">
              <p  ng-if="deliveryToCurrentLocation">
                Delivers to your Current Location <br>
                Distance to Restaurant: Approx. {{currentLocDistanceToRes}} Km
              </p>
              <p  ng-if="!deliveryToCurrentLocation">
                Does not deliver to your Current Location
              </p>
            </p>
        </h4>
        </div>

        <!-- rating -->
        <div ng-controller="RatingController">
          <!-- if the user has not rated the restaurant, show the restauant average rating -->
          <span ng-show="!userRated" style="font-size:20px" uib-rating ng-model="restaurant.avgRate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" ng-class="text-warning" ng-change="newFeedback()"></span>
          <!-- otherwise show the user rating -->
          <span ng-show="userRated" style="font-size:20px" uib-rating ng-model="userFeedback.rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" ng-class="text-warning" ng-change="newFeedback()"></span>
          <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
        </div>

      </div>

    </div>
  </div>

  <div  id="map"  ></div>




</div>

