<div class="container">

  <div>
    <h1>Restaurant Application</h1>
    <hr>
  </div>

  <!-- restaurant application form -->
  <div class="row">
    <div class="col-md-8">
      <form name="restaurantApplication" role="form" ng-submit="newRestaurant()" novalidate>

        <!-- check if this is a restaurant -->
        <div class="form-group">
          <label for="restaurantOwner">Do you want to open an account for your existing restaurant?</label>
          <p class="help-block">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Choose "Yes" if you would like to create an account for your current restaurant.
            <br>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Choose "No" to apply for a new restaurant business.</p>
        </div>
        <div class="form-group">
          <!-- ng-init is used to set the default value of restaurant. The restaurant value and the No radio value are the same so it is checked by default. Using html attribute checked does not work when using ng-model -->
          <label class="radio-inline" ng-init="application.hasRestaurant = 'false'">
            <input type="radio" name="restaurantOwner" id="restaurantOwner1" value="false" ng-model="application.hasRestaurant" ng-click="uploader1.clearQueue()">
            No
          </label>
          <label class="radio-inline">
            <input type="radio" name="restaurantOwner" id="restaurantOwner2" value="true" ng-model="application.hasRrestaurant" ng-click="uploader1.clearQueue()">
            Yes
          </label>
        </div>

        <hr>

        <!-- full name -->
        <div class="form-group has-feedback" ng-class="{'has-error': restaurantApplication.nameInput.$error.required && !restaurantApplication.nameInput.$pristine}">
          <label for="nameInput">Full Name</label>
          <input type="text" class="form-control" name="nameInput" id="nameInput" placeholder="Full Name" ng-model="application.fullName" change-case required>
          <span ng-show="restaurantApplication.nameInput.$error.required && !restaurantApplication.nameInput.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>

        <!-- social security number -->
        <div class="form-group has-feedback" ng-class="{'has-error': restaurantApplication.ssnInput.$error.required && !restaurantApplication.ssnInput.$pristine}">
          <label for="ssnInput">Social Security Number</label>
          <input type="text" class="form-control" name="ssnInput" id="ssnInput" placeholder="000000-000A" ng-model="application.ssn" required>
          <span ng-show="restaurantApplication.ssnInput.$error.required && !restaurantApplication.ssnInput.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>

        <!-- email address -->
        <div class="form-group has-feedback" ng-class="{'has-error': restaurantApplication.emailInput.$error.email && restaurantApplication.emailInput.$touched}">
          <label for="emailInput">Email</label>
          <input type="email" class="form-control" name="emailInput" id="emailInput" placeholder="Email" ng-model="application.email" change-case required>
          <span ng-show="restaurantApplication.emailInput.$error.email && restaurantApplication.emailInput.$touched" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <p class="text-danger" ng-show="restaurantApplication.emailInput.$error.email && restaurantApplication.emailInput.$touched">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Please enter a valid email address.</p>
        </div>

        <!-- phone number -->
        <div class="form-group has-feedback" ng-class="{'has-error': restaurantApplication.phoneInput.$error.required && !restaurantApplication.phoneInput.$pristine}">
          <label for="phoneInput">Phone Number</label>
          <input type="number" class="form-control" name="phoneInput" id="phoneInput" placeholder="0401348745" ng-model="application.phoneNumber" required>
          <span ng-show="restaurantApplication.phoneInput.$error.required && !restaurantApplication.phoneInput.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>

        <!-- restaurant address -->
        <div class="form-group has-feedback" ng-class="{'has-error': restaurantApplication.addressInput.$error.required && !restaurantApplication.addressInput.$pristine}">
          <label for="addressInput">Restaurant Address</label>
          <input type="text" class="form-control" name="addressInput" id="addressInput" placeholder="Restaurant Street Address" ng-model="application.address" change-case required>
          <span ng-show="restaurantApplication.addressInput.$error.required && !restaurantApplication.addressInput.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>

        <!-- city -->
        <div class="form-group">
          <div class="form-inline">
            <div class="form-group has-feedback" ng-class="{'has-error': restaurantApplication.cityInput.$error.required && !restaurantApplication.cityInput.$pristine}">
              <input type="text" class="form-control" name="cityInput" id="cityInput" placeholder="City" ng-model="application.city" change-case required>
              <span ng-show="restaurantApplication.cityInput.$error.required && !restaurantApplication.cityInput.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>

            <!-- zipcode -->
            <div class="form-group has-feedback" ng-class="{'has-error': restaurantApplication.zipCodeInput.$error.required && !restaurantApplication.zipCodeInput.$pristine}">
              <input type="number" class="form-control" name="zipCodeInput" id="zipCodeInput" placeholder="Zip Code" ng-model="application.zipcode" required>
              <span ng-show="restaurantApplication.zipCodeInput.$error.required && !restaurantApplication.zipCodeInput.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-show="application.hasRestaurant !== 'true'" ng-hide="application.hasRestaurant == 'true'">
          <label for="propertyOwner">Are you the real estate owner of the restaurant address above?</label>
          <p class="help-block">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            If you only own an apartment in a building, you are not the real state owner.</p>
        </div>

        <!-- property owner -->
        <div class="form-group" ng-init="application.propertyOwner='false'" ng-if="application.hasRestaurant !== 'true'" ng-hide="application.hasRestaurant == 'true'">
          <label class="radio-inline">
            <input type="radio" name="propertyOwner" id="propertyOwner1" value="false" ng-model="application.propertyOwner" ng-click="uploader1.clearQueue()">
            No
          </label>
          <label class="radio-inline">
            <input type="radio" name="propertyOwner" id="propertyOwner2" value="true" ng-model="application.propertyOwner" ng-click="uploader1.clearQueue()">
            Yes
          </label>
        </div>

        <!-- file inputs -->
        <h2>Attachments</h2>
        <p class="help-block">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Only jpg, png, jpeg, bmp and gif file types are accepted.<br>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          The maximum file size is 4MB.</p>
        <hr>

        <div class="row">
          <div class="col-md-6">

            <!-- Health Certificate -->
            <div class="row">
              <div>
                <div class="form-group" ng-if="application.hasRestaurant !== 'true'">
                  <label class="btn btn-default" role="button" for="healthCertInputFile">Choose File
                    <input type="file" name="healthCertInputFile" id="healthCertInputFile" class="hidden" nv-file-select uploader="uploader1" ng-click="uploader1.clearQueue()" ng-model="application.healthCert" valid-file required>
                  </label>
                  <label for="healthCertInputFile">Health Certificate
                    <span class="text-danger" ng-show="restaurantApplication.healthCertInputFile.$invalid && !restaurantApplication.healthCertInputFile.$pristine">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Required</span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Real State Owner Permission -->
            <!-- uses uploader number 2 -->
            <div class="row">
              <div>
                <div class="form-group" ng-if="application.propertyOwner !== 'true' && application.hasRestaurant !== 'true'" ng-hide="application.propertyOwner == 'true'">
                  <label class="btn btn-default" role="button" for="realStatePerInputFile">Choose File
                    <input type="file" name="realStatePerInputFile" id="realStatePerInputFile" class="hidden" nv-file-select uploader="uploader2" ng-click="uploader2.clearQueue()" ng-model="application.realStatePer" valid-file required>
                  </label>
                  <label for="realStatePerInputFile">Real State Owner Permission
                    <span class="text-danger" ng-show="restaurantApplication.realStatePerInputFile.$invalid && !restaurantApplication.realStatePerInputFile.$pristine">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Required</span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Food Authority Report -->
            <div class="row">
              <div>
                <div class="form-group" ng-if="application.hasRestaurant == 'true'" ng-hide="application.hasRestaurant !== 'true'">
                  <label class="btn btn-default" role="button" for="foodAuthReportInputFile">Choose File
                    <input type="file" name="foodAuthReportInputFile" id="foodAuthReportInputFile" class="hidden" nv-file-select uploader="uploader1" ng-click="uploader1.clearQueue()" ng-model="application.foodAuthReport" valid-file required>
                  </label>
                  <label for="foodAuthReportInputFile">Food Authority Report
                    <span class="text-danger" ng-show="restaurantApplication.foodAuthReportInputFile.$invalid && !restaurantApplication.foodAuthReportInputFile.$pristine">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Required</span>
                  </label>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-6">
            <ul class="list-unstyled text-success">
              <!-- uploader 1 -->
              <dl ng-repeat="item in uploader1.queue">
                <dd>
                  <span>
                    <i class="glyphicon glyphicon-ok"></i>
                  </span>
                  {{ item.file.name }}
                </dd>
              </dl>
              <!-- uploader 2 -->
              <dl ng-repeat="item in uploader2.queue">
                <dd>
                  <span>
                    <i class="glyphicon glyphicon-ok"></i>
                  </span>
                  {{item.file.name }}
                </dd>
              </dl>
            </ul>
          </div>

        </div>

        <hr>




          <!-- error if a the restaurant address is not unique -->
          <div  uib-alert class="alert alert-danger" ng-if="addressExists" dismiss-on-timeout="5000" close="closeAlert()">A restaurant with the same address exists already.</div>


        <button type="submit" id="submit" value="Submit" class="btn btn-success" ng-disabled="restaurantApplication.$invalid">Submit</button>

      </form>
    </div>
  </div>

</div>
