<!DOCTYPE html>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Shifu</a>
    </div>

    <!-- search  -->
    <form class="navbar-form navbar-left" role="search" ng-submit="search()">
      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search for restaurant in your area"
            ng-model="result"
            uib-typeahead="result.restaurantName for result in allRestaurants | filter:$viewValue | limitTo:5"
            typeahead-loading="loadingRestaurants"
            typeahead-no-results="noResults">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </div>
      </div>
    </form>

    <!-- collapsable menu -->
    <div id="navbar" class="navbar-collapse collapse" ng-repeat="user in profile">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <img class="img-circle img-responsive hidden-xs" ng-src="{{user.profile._json.picture.data.url}}"/>
        </li>

        <!-- user settings -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.profile.name.givenName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Your Restaurants:</li>
            <li>
              <a ui-sref="app.owner({city: restaurant.city, name: restaurant.restaurantName})" ng-repeat="restaurant in restaurants">{{restaurant.restaurantName}}
                -
                {{restaurant.city | capitalize}}</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a ui-sref="app.application">Open a New Restaurant</a>
            </li>
            <li>
              <a>Settings</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="logout">Log Out</a>
            </li>
          </ul>
        </li>

        <!-- open a restaurant -->
        <li>
          <button class="btn btn-default" role="button" ui-sref="app.application">Open a Restaurant</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
