<div class="container">

  <!-- promotions -->
  <div class="row">
    <div class="col-md-8">
      <h1>Cook & Make Money From Home</h1>
      <h1>Register Now! We will help in every step.</h1>
      <hr>
    </div>

    <!-- registration form -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Login or Register with:</strong></h3>
        </div>
        <div class="panel-body">
          <a href="/auth/facebook" class="btn btn-lg btn-primary" role="button"><span class="fa fa-facebook"></span> FACEBOOK</a>
           <a href="/auth/google" class="btn btn-lg btn-danger" role="button"><span class="fa fa-google-plus"></span> GOOGLE</a>
        </div>
      </div>
    </div>
  </div>
</div>
