<!DOCTYPE html>
<div class="container">

  <!-- show if nothing was found -->
  <div ng-if="noResults" class="alert alert-warning" role="alert">
    <i class="glyphicon glyphicon-remove"></i>
    No Results Found. Please try another keyword.</div>

  <!-- results -->
  <div class="panel panel-default">
  <div class="panel-heading">Results:</div>
  <div ng-if="!noResults" class="list-group">
    <a ui-sref="app.restaurant({city: result.city, name: result.restaurantName})" class="list-group-item" ng-repeat="result in results">
      <div class="media">

        <div class="col-xs-12 col-sm-6">
          <div class="media-left">
            <img ng-src="{{result.logo}}" alt="{{result.restaurantName}}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{result.restaurantName}}</h4>
            <span class="label label-success" id="{{result.id}}"></span>
            <span class="label label-primary">Delivery from &euro;{{result.deliveryFee}}</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <!-- rating -->
          <!-- readonly  -->
          <div ng-controller="RatingController">
            <span style="font-size:20px" uib-rating ng-model="result.avgRate" max="max" read-only="true" aria-labelledby="default-rating" ng-class="text-warning"></span>
          </div>
        </div>

      </div>
    </a>
  </div>
  </div>

</div>
