<!DOCTYPE html>
<div class="container">

  <!-- show if nothing was found -->
  <div ng-if="noResults" class="alert alert-warning" role="alert">
    <i class="glyphicon glyphicon-remove"></i>
    No Results Found. Please try another keyword.</div>

  <!-- results -->
  <div class="panel panel-default">
    <div class="panel-heading">
      Results:

      <!-- sort by -->
      <div class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Sort by
          <span class="caret"></span>
        </a>

        <!-- TODO: if a an option was selected, put a tick next to it to show that it is currently selected -->
        <!-- TODO: add acending and decending option -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <a href="" ng-click="sortBy('restaurantName')">Relevance</a>
          </li>
          <li>
            <a href="">Price</a>
          </li>
          <li>
            <a href="" ng-click="sortBy('-avgRate')">Rating</a>
          </li>
          <!-- TODO: the search result by default must be for restaurant in the user's relevent city -->
          <li>
            <a href="" ng-click="sortBy('city')">City</a>
          </li>
          <li>
            <a href="" ng-click="sortBy('distanceKm')">Distance</a>
          </li>
        </ul>
      </div>
    </div>
    <div ng-if="!noResults" class="list-group">
      <a ui-sref="app.restaurant({city: result.city, name: result.restaurantName})" class="list-group-item" ng-repeat="result in results | orderBy:propertyName">
        <div class="media">

          <div class="col-xs-12 col-sm-6">
            <div class="media-left">
              <img ng-src="{{result.logo}}" alt="{{result.restaurantName}}">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{result.restaurantName}}</h4>
              {{result.city | capitalize}}<br>
              <span class="label label-success" id="{{result.id}}"></span>
              <span class="label label-primary">Delivery from &euro;{{result.deliveryFee}}</span>

            </div>
          </div>


            <!-- rating -->
            <!-- readonly  -->
            <p ng-init="return1=distance(result.lat,result.lng,result)"> {{return1}} Km</p>
            <div ng-controller="RatingController">
              <span style="font-size:20px" uib-rating ng-model="result.avgRate" max="max" read-only="true" aria-labelledby="default-rating" ng-class="text-warning"></span>

            </div>
          </div>


      </a>
    </div>
  </div>

</div>
