<!DOCTYPE html>
<!--  -->
<!-- USER WITH NO RESTAURANT -->
<!--  -->
<!-- show if the user has no restaurant -->
<div class="container" ng-if="restaurantCount == 0">

  <div>
    <h1>User Profile</h1>
    <hr>
  </div>

</div>

<!--  -->
<!-- USER WITH RESTAURANT -->
<!--  -->
<!-- show if the user has one restaurant -->
<div class="container-fluid" ng-if="restaurantCount === 1">
  <div class="row" ng-repeat="restaurant in restaurants">

    <!-- restaurant profile badge -->
    <div class="col-xs-12 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row center-block text-center">
            <button ng-if="!image" type="button" class="btn btn-primary btn-circle btn-xl">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
            </button>
            <img ng-if="image" class="img-circle" height="64" width="64" ng-src="{{image}}"/>
          </div>
          <div class="row text-center">
            <!-- TODO: should we show the address? -->
            <h4 class="media-heading">{{restaurant.restaurantName}}</h4>
            <!-- <address class="text-capitalize">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{restaurant.address}}<br>
            {{restaurant.zipcode}},
            {{restaurant.city}}<br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            {{restaurant.phoneNumber}}
          </address> -->
          </div>
          <div class="row text-center">
            <!-- rating -->
            <!-- readonly  -->
            <div ng-controller="RatingController">
              <span style="font-size:20px" uib-rating ng-model="restaurant.avgRate" max="max" read-only="true" aria-labelledby="default-rating" ng-class="text-warning"></span>
            </div>
          </div>
          <div class="row text-center">
            <h4>
              <span class="label label-success" id="{{restaurant.id}}"></span>
              <!-- paid delivery -->
              <span ng-if="restaurant.deliveryFee" class="label label-primary">Delivery From &euro;{{restaurant.deliveryFee}}</span>
              <!-- free delivery -->
              <span ng-if="restaurant.deliveryFee === 0" class="label label-primary">Free Delivery</span>
              <!-- pick-up only -->
              <span ng-if="!restaurant.deliveryFee" class="label label-primary">Pick-up Only</span>
              <span class="label label-default" ng-if="restaurant.workFrom[today]">{{restaurant.workFrom[today] | date:'shortTime'}}
                -
                {{restaurant.workTo[today] | date:'shortTime'}}</span>
            </h4>
          </div>
        </div>

        <div class="list-group">
          <a class="list-group-item">
            <span class="badge">2</span>
            <i class="glyphicon glyphicon-home"></i>
            Overview
          </a>
          <a class="list-group-item">
            <i class="glyphicon glyphicon-user"></i>
            Settings</a>
          <a class="list-group-item">
            <i class="glyphicon glyphicon-flag"></i>
            Help
          </a>
        </div>

      </div>
    </div>

    <!-- application status -->
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Restaurant Application Status</h3>
          </div>
          <div class="panel-body text-justify">
            <ul class="list-inline">
              <li>
                <span class="glyphicon glyphicon-check text-success" aria-hidden="true"></span>
                Application Received
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              </li>
              <li>
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                Proccessing
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              </li>
              <li>
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                Restaurant Registered
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- the menu -->
      <div class="row">
        <button ng-click="open('lg')" type="button" class="btn btn-success btn-xs pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add
        </button>

        <uib-tabset active="active">
          <uib-tab index="0" heading="Mains"></uib-tab>
          <uib-tab index="1" heading="Appetizer">Appetizer</uib-tab>
        </uib-tabset>
      </div>

    </div>

  </div>

</div>

<!-- show if the user has more than one restaurant -->
<div class="container" ng-if="restaurantCount > 1">

  <!-- restaurant profile badge -->
  <div class="row" ng-repeat="restaurant in restaurants">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="media">
            <div class="media-left media-middle">
              <button ng-if="!image" type="button" class="btn btn-primary btn-circle btn-xl">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
              </button>
              <img ng-if="image" class="img-circle" height="64" width="64" ng-src="{{image}}"/>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{restaurant.restaurantName}}</h4>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{restaurant.address | capitalize}}
              <br>
              {{restaurant.zipcode}},
              {{restaurant.city | capitalize}}
              <br>
              <i class="fa fa-mobile" aria-hidden="true"></i>
              {{restaurant.phoneNumber}}
              <br>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              {{restaurant.email}}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <h4>
            <!-- TODO: fix the working hours -->
            <span class="label label-success" id="{{restaurant.id}}"></span>
            <!-- paid delivery -->
            <span ng-if="restaurant.deliveryFee" class="label label-primary">Delivery From &euro;{{restaurant.deliveryFee}}</span>
            <!-- free delivery -->
            <span ng-if="restaurant.deliveryFee === 0" class="label label-primary">Free Delivery</span>
            <!-- pick-up only -->
            <span ng-if="!restaurant.deliveryFee" class="label label-primary">Pick-up Only</span>
            <span class="label label-default" ng-if="restaurant.workFrom[today]">{{restaurant.workFrom[today] | date:'shortTime'}}
              -
              {{restaurant.workTo[today] | date:'shortTime'}}</span>
          </h4>
        </div>

        <!-- rating -->
        <div ng-controller="RatingController">
          <span style="font-size:20px" uib-rating ng-model="restaurant.avgRate" max="max" read-only="true" aria-labelledby="default-rating" ng-class="text-warning"></span>
        </div>
        <!-- view button -->
        <a ui-sref="app.owner({city: restaurant.city, name: restaurant.restaurantName})" class="btn btn-success btn-sm pull-right" role="button">View</a>
      </div>
    </div>
  </div>

</div>
