<!DOCTYPE html>
<!--  -->
<!-- USER WITH NO RESTAURANT -->
<!--  -->
<!-- show if the user has no restaurant -->
<!-- TODO: if a restaurant is registred with no working ours, then the server will give an error -->
<div class="container" ng-if="restaurantCount == 0">

  <div>
    <h1>User Profile</h1>
    <hr>
  </div>

</div>

<!--  -->
<!-- USER WITH RESTAURANT -->
<!--  -->

<!-- show if the user has more than one restaurant -->
<div class="container" ng-if="restaurantCount > 1">

  <!-- restaurant profile badge -->
  <div class="panel panel-default" ng-repeat="restaurant in restaurants">
    <!-- working hours popover -->
    <i class="fa fa-clock-o fa-lg text-muted pull-right" style="margin:5px;" aria-hidden="true" uib-popover-template="'openinghours.html'" popover-trigger="'mouseenter'" popover-placement="left-top"></i>

    <div class="panel-body">
      <div class="row">

        <div class="col-sm-5 col-md-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="media">
                <div class="media-left">
                  <button ng-if="!image" type="button" class="btn btn-primary btn-circle btn-xl">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                  </button>
                  <img ng-if="image" class="img-circle" height="64" width="64" ng-src="{{image}}"/>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{restaurant.restaurantName}}</h4>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span class="text-capitalize">{{restaurant.address}}</span>
                  <br>
                  {{restaurant.zipcode}},
                  <span class="text-capitalize">{{restaurant.city}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <!-- rating -->
              <div style="margin-top:15px" ng-controller="RatingController">
                <span class="h4" uib-rating ng-model="restaurant.avgRate" max="max" read-only="true" aria-labelledby="default-rating" ng-class="text-warning"></span>
              </div>
            </div>
          </div>
        </div>

        <!-- labels -->
        <div class="col-sm-7 col-md-5 col-md-offset-1">
          <div class="row text-right h5">
            <div class="col-xs-12">
              <!-- open or closed -->
              <span class="label label-success" id="{{restaurant.id}}"></span>
              <span ng-if="restaurant.delivery">
                <!-- paid delivery -->
                <span ng-if="restaurant.deliveryFee" class="label label-primary">Delivery From &euro;{{restaurant.deliveryFee}}</span>
                <!-- free delivery -->
                <span ng-if="restaurant.deliveryFee === 0" class="label label-primary">Free Delivery</span>
              </span>
              <!-- pick-up only -->
              <span ng-if="!restaurant.delivery" class="label label-primary">Pick-up Only</span>

              <!-- working hours -->
              <span class="label label-default" ng-if="restaurant.workFrom[today]">
                {{restaurant.workFrom[today] | date:'shortTime'}}
                -
                {{restaurant.workTo[today] | date:'shortTime'}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- view button -->
    <a ui-sref="app.owner({city: restaurant.city, name: restaurant.restaurantName})" class="btn btn-success btn-sm pull-right" role="button">View</a>
  </div>

</div>

<!-- opening hours popover template -->
<script type="text/ng-template" id="openinghours.html">
  <div>
    <ul class="list-unstyled" ng-repeat="day in weekdays">
      <li>
        <div class="row" ng-if="restaurant.workFrom[day]">
          <div class="col-xs-4">
            <b>{{day}}:</b>
          </div>
          <div class="col-xs-8">
            {{restaurant.workFrom[day] | date:'shortTime'}}
            -
            {{restaurant.workTo[day] | date:'shortTime'}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</script>
