<!--  -->
<!-- USER WITH NO RESTAURANT -->
<!--  -->
<!-- show if the user has no restaurant -->
<div class="container" ng-if="restaurantCount == 0">

  <div>
    <h1>User Profile</h1>
    <hr>
  </div>

</div>

<!--  -->
<!-- USER WITH RESTAURANT -->
<!--  -->
<!-- show if the user has a restaurant -->
<div class="container" ng-if="restaurantCount !== 0">

  <div class="row">

    <div class="col-md-12 col-md-6 col-md-offset-3">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Restaurant Application Status</h3>
        </div>
        <div class="panel-body text-justify">
          <ul class="list-inline">
            <li>
              <span class="glyphicon glyphicon-check text-success" aria-hidden="true"></span>
              Application Received
            </li>
            <li>
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </li>
            <li>
              <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
              Proccessing
            </li>
            <li>
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </li>
            <li>
              <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
              Restaurant Registered
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <!-- restaurant profile badge -->
  <div class="row" ng-repeat="restaurant in restaurants">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="media">
            <div class="media-left media-middle">
              <button ng-if="!image" type="button" class="btn btn-primary btn-circle btn-xl" ng-click="open('lg')">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
              </button>
              <img ng-if="image" class="img-circle" height="64" width="64" ng-src="{{image}}"/>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{restaurant.restaurantName}}</h4>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{restaurant.address | capitalize}}
              <br>
              {{restaurant.zipcode}},
              {{restaurant.city | capitalize}}
              <br>
              <i class="fa fa-mobile" aria-hidden="true"></i>
              {{restaurant.phoneNumber}}
              <br>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              {{restaurant.email}}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <h4>
          <span class="label label-success" id="{{restaurant.id}}"></span>
          <span class="label label-primary">Delivery from &euro;{{restaurant.deliveryFee}}</span>
          <span class="label label-default">{{restaurant.workFrom[today] | date:'shortTime'}} - {{restaurant.workTo[today] | date:'shortTime'}}</span>
        </h4>
        </div>
      </div>

      <!-- rating -->
      <div ng-controller="RatingController">
        <span style="font-size:20px" uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" ng-class="text-warning" ng-click="newfeedback()"></span>
        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
      </div>

    </div>

  </div>

</div>
