<!DOCTYPE html>
<div class="container-fluid">

<!-- TODO: add a restaurant application status -->
<!-- TODO: make the restaurant wizard abstract -->

  <!-- restaurant profile badge -->
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-3">
      <div class="panel panel-default">
        <div class="panel-body" ng-repeat="restaurant in restaurants">
          <!-- restaurant profile photo -->
          <div class="row center-block text-center">
            <div class="col-xs-12">
              <!-- show if there is no logo -->
              <button ng-if="!image && !logo" type="button" class="btn btn-primary btn-circle btn-xl" ng-click="openImageModal('md')">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
              </button>
              <!-- show if a logo is added -->
              <img ng-if="image && !logo" class="img-circle" height="64" width="64" ng-src="{{image}}" role="button" ng-click="openImageModal('md')"/>
              <!-- show if a logo already exists -->
              <img ng-if="logo" class="img-circle" height="64" width="64" ng-src="/api/containers/me/download/{{logo}}" role="button" ng-click="openImageModal('md')"/>
            </div>
          </div>
          <div class="row text-center">

            <div class="col-xs-12">
              <h4 class="media-heading">{{restaurant.restaurantName}}</h4>
              <!-- <address class="text-capitalize">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{restaurant.address}}<br>
              {{restaurant.zipcode}},
              {{restaurant.city}}<br>
              <i class="fa fa-mobile" aria-hidden="true"></i>
              {{restaurant.phoneNumber}}
            </address> -->
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-12">
              <!-- rating -->
              <!-- readonly  -->
              <div ng-controller="RatingController">
                <span style="font-size:20px" uib-rating ng-model="restaurant.avgRate" max="max" read-only="true" aria-labelledby="default-rating" ng-class="text-warning"></span>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-12">
              <span class="label label-success">{{state.openOrClosed}}</span>
              <span ng-if="restaurant.delivery">
                <!-- paid delivery -->
                <span ng-if="restaurant.deliveryFee" class="label label-primary">Delivery From &euro;{{restaurant.deliveryFee}}</span>
                <!-- free delivery -->
                <span ng-if="restaurant.deliveryFee === 0" class="label label-primary">Free Delivery</span>
              </span>
              <!-- pick-up only -->
              <span ng-if="!restaurant.delivery" class="label label-primary">Pick-up Only</span>
              <span class="label label-default" ng-if="restaurant.workFrom[today]">{{restaurant.workFrom[today] | date:'shortTime'}}
                -
                {{restaurant.workTo[today] | date:'shortTime'}}</span>
            </div>
          </div>
        </div>
        <div class="list-group">
          <a class="list-group-item" ui-sref="app.owner">
            <span class="badge">2</span>
            <i class="glyphicon glyphicon-home"></i>
            Overview
          </a>
          <a class="list-group-item" ui-sref="app.owner.settings">
            <i class="glyphicon glyphicon-user"></i>
            Settings</a>
          <a class="list-group-item" ui-sref="app.owner.help">
            <i class="glyphicon glyphicon-flag"></i>
            Help
          </a>
        </div>
      </div>
    </div>

    <!-- show based on the selecion from the list group above -->
    <div class="col-xs-12 col-md-6">
      <div ui-view="content"></div>
    </div>

  </div>

</div>
